html, body {
	height: 100%;
	width: 100%;
}

body{
    background:#f2f2f2;
}

#breadCrumbs{
	display:inline-block;
	margin: 7px 10px;
}

#fireGlyph{
	display:inline-block;
	font-size:5em;
}

#mainHeader{
	display:inline-block;
}

#profilePicture{
	display: inline-block;
	margin-right: 1em;
}
#spotifyPlaylist{
	clear: both;
	margin-top: 2em;
}

#artistBio{
	max-height:20em;
	overflow:auto;
}

#followArtist{
	margin-top: .5em;
}

@font-face{
    font-family: papyrus; 
	src: url('PAPYRUS.TTF');
}

.center{
	text-align:center;
}

.justify{
	text-align:justify;
	text-justify: inter-word;
}

.float-left{
	float:left;
}

.inline-block{
	display:inline-block;
}

.playlist{
	height:15em;
	margin-right: 2em;
	margin-bottom: 1em;
}

.papyrus{
    font-family:papyrus,papyrus;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	margin:auto;
	height: 40em;
}

.carousel-caption p{
    color:white;
    
}

.newsHead{
    text-align:center;
    font-family:papyrus,papyrus;
}

.articlePictures{
	height: 20em;
	margin:auto;
	float:right;
}

#articleContainer{
	max-height: 25em;
}

.ui-accordion-header{
   background:#262626;
   color:white;
}

#topArtistButton:hover {
	color:#4565B0;
}

#navbarFire:hover {
	color:#4565B0;
}