* {
	header: 0;
	margin: 0;
}

body{
    background:#f2f2f2 !important;
}

#breadCrumbs{
	display:inline-block;
	margin: 7px 10px;
}

#fireGlyph{
	display:inline-block;
	font-size:5em;
}

#mainHeader{
	display:inline-block;
}

@font-face{
    font-family: papyru; 
	src: url('PAPYRUS.TTF');
}

.center{
	text-align:center;
}

.justify{
	text-align:justify;
	text-justify: inter-word;
}

.papyrus{
    font-family:papyru,papyrus;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	width: 60em;
	height: 35em;
	margin:auto;
  }

.carousel-caption p{
    color:white;
    
}

.newsHead{
    text-align:center;
    font-family:papyrus;
}

.articlePictures{
	width: 22em;
	height: 15em;
	margin:auto;
}

#accordion{
    width:60%;
    margin:auto;
}

.ui-accordion-header{
   background:#262626;
   color:white;
}

canvas{
    width:100%; 
    background-color:#262626;
}


#lyricStyle{
	 text-align:center;
}


footer{
	text-align:center;
    padding-top:2em;
    height:5em;
    margin-top:4em; 
}

footer p{
    color:white;
}

#signUpFeedback{
    margin-top:6em;
}

#loginFeedback{
    margin-top:6em;
}

#topArtistButton:hover {
	color:#4565B0;
}

#navbarFire:hover {
	color:#4565B0;
}